.devices-schedule {
  border: 1px solid lightslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__heading {
    background-color: lightcyan;
    border-bottom: 1px solid lightslategray;
    display: flex;
  }

  &__devices-column {
    width: 20%;
    min-width: 180px;
    box-shadow: 4px 0px 4px -1px rgba(34, 60, 80, 0.2);
    z-index: 1;
  }

  &__time-column {
    width: 80%;
    overflow-x: auto;
    display: flex;
  }

  &__time-heading {
    padding-left: 30px;
  }

  &__time-heading-item {
    width: 100px;
    padding: 10px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 6px;
      width: 1px;
      left: 0;
      background-color: lightslategray;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: lightslategray;
    }
  }

  &__time-heading-label {
    display: inline-block;
    transform: translateX(-50%);
  }

  &__device-heading {
    padding: 10px;
    border-right: 1px solid lightslategray;
  }

  &__device-row {
    height: 125px;
    padding: 10px;
    background-color: #fff;
    border-right: 1px solid lightgray;
  }

  &__device-row + &__device-row {
    border-top: 1px solid lightgray;
  }

  &__timeline {
    padding-left: 30px;
    background-color: #fff;
    width: 100%;
    display: flex;
  }

  &__time-slot {
    width: 100%;
    height: 125px;
    position: relative;

    &::before {
      content: "";
      width: 1px;
      position: absolute;
      left: 0;
      height: 100%;
      background-color: lightgray;
    }
  }

  &__timeline + &__timeline {
    border-top: 1px solid lightgray;
  }

  &__event {
    background: lightskyblue;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 25%;
  }
}